# Django
SECRET_KEY=your_secret_key_here
DEBUG=True
ALLOWED_HOSTS=127.0.0.1, localhost, .yourdomain.com

# Database
DATABASE_URL=sqlite:///db.sqlite3 # Use postgres://user:password@host:port/dbname for PostgreSQL

# Email Settings for Google Workspace Gmail (or other SMTP)
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
ADMIN_EMAIL=your_admin_email@example.com

# SSLCommerz
SSLCZ_STORE_ID=
SSLCZ_STORE_PASSWD=
SSLCZ_SANDBOX=True
SSLCZ_ENABLE_IP_WHITELISTING=False # Set to True in production
SSLCZ_IP_WHITELIST=103.106.118.10,103.106.118.11 # Add more if needed, comma-separated

# Redis for Caching and Sessions
REDIS_URL=redis://127.0.0.1:6379/1

# Site URL (important for payment callbacks and email links)
SITE_URL=http://127.0.0.1:8000 # Use https://yourdomain.com for production